.search-menu {
	height: 17vh;
    background-color: #ffffff;
    width: 100vw;
    display: flex;
    align-items: center;
    padding-bottom: 2vh;
}

.from-to-icon {
	height: 13vh;
	width: 13vh;
	background-image: url('../images/from-to-icon.png');
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-top: 1vh;
}

.search-form {
	margin-bottom: 3vh;
    width: 100%;
}

.search-input {
	border: none;
    width: 90%;
    border-bottom: #d7d7d7 1px solid;
    margin-top: 1.5vh;
    outline: none;
    background-image: url('../images/search-icon.png');
	background-position: 98% 50%;
    background-repeat: no-repeat;
    background-size: 3vh;
    font-size: calc(1.7vh + 1.7vw);
    font-family: "Roboto", sans-serif;
    color: #404040;
    height: 5vh;
}