html {
	width: 100%;
}

body {
    width: 100%;
    margin: 0;
    font-size: calc(2vh + 2vw);
    font-family: "Roboto", sans-serif;
    color: #404040;
}

.wrapper {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background-color: #f0f0f0;
}

.main {
	height: 92.2vh;
	background-image: url('cover-road.jpg');
	background-size: cover;
}

.bottom-ruler-btn {
	height: 7.8vh;
	background-color: #757D75; /*#e34929;*/
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	font-weight: 500;
	font-size: calc(1.6vh + 1.6vw);
	text-decoration: none;
}

.logo-container {
	padding-top: 20vh;
	padding-left: 10vw;
}

.logo-txt {
	font-family: "Highway Gothic";
	font-size: calc(4.1vh + 4.1vw);
	color: #ffffff;
}